/*Color Palatte
#F8F8F8- gray
#EB5757 - red
#007AFF - blue
#979797 - dark gray stroke
-------------*/


/*Global Styles
------------*/

html {
  box-sizing: border-box;
}
border-box, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 0px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1.45%;
}

h2 {
  font-size: 17px;
  font-weight: 700;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height:0px;
  letter-spacing: -0.02em;
  color: #007AFF;
}

h4 {
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  font-size: 12px;
}

h5 {
font-style: italic;
font-weight: 300;
font-size: 12px;
color: #EB5757;
}


/*END of Global Styles-----------------------------*/

.container {
    width: 375px;
    height: 900px;
    margin:auto;
    border-style: solid;
    border-width: thin;
    border-color: #979797
  }

.nav{
  position: fixed;
  height: 64px;
  width: 375px;
  background-color: #F8F8F8;
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(27.1828px);
}

.statusbar{
  float:left;
  max-width: 375px;

}

.arrow {
  float:left;
  margin-top: 16px;
  margin-left: 10px;
}

.back{
  float: left;
  margin-left: 7px;
  margin-top: 10px;

}

.stopname{
  float: left;
  margin-left: 40px;
  margin-top: 10px;

}

.done {
  float:left;
  margin-left: 50px;
  margin-top: 10px;

}

.east{
  height: 160px;
  width: 375px;


}

.north{
  height: 100px;
  width: 375px;
}

.south{
  height: 150px;
  width: 375px;

}

.reroute{
  height: 90px;
  width: 375px;

}

.out{
  height: 200px;
  width: 375px;
  clear:both;

}

.number {
float: left;
margin-left: 10px;
width: 72px;
height: 28px;
background-color: #EFEFF4;
border-radius: 23px;
text-align: center;
}

.destination {
  float: left;
  position: relative;
  margin-left: 10px;

}

.frequency {
  width: 110px;
  height: 30px;
  margin-left: 230px;
  text-align: right;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: 12px;
}

.location {
  float:right;
  clear:right;
  margin-left: 10px;
  margin-top: 0px;
  border-style: solid;
  border-color: pink;

}

.head {
  height: 50px;
  width: 375px;
  margin-top: 80px;
  margin-left: 20px;
  text-align: left;

}

.headother {
  height: 50px;
  width: 375px;
  margin-left: 20px;
  text-align: left;

}

.listing {
  height: 50px;
  width: 375px;
  text-align: left;
  vertical-align: middle;
}

.line {
width: 265px;
height: 28px;
margin-right: 20px;
border-top-style: solid;
border-top-width: thin;
border-top-color: #BCBBB1;
float:right;
}
